DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ferm_plus"
JWT_SECRET="replace-with-a-32-character-minimum-secret"
JWT_REFRESH_SECRET="replace-with-a-second-32-character-minimum-secret"
REDIS_URL="redis://127.0.0.1:6379"
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
