DATABASE_URL="postgresql://postgres:password@localhost:5432/FERME+"
JWT_SECRET="replace-with-a-32-character-minimum-secret"
JWT_REFRESH_SECRET="replace-with-a-second-32-character-minimum-secret"
JWT_EXPIRES_IN="15m"
